{% extends 'base.html' %}

{% block title %}python+django{% endblock title %}

{% block body %}

<h1 style=background-color:yellow;width:50%;>python+django webpage</h1>
<h2 style=background-color:pink;width:40%;>created program can check below</h2>
<center><img src="/static/dem.png" alt="Italian Trulli"></center>
<link rel="stylesheet" href="/static/style.css">

<center><body style="background-image: url('/static/dicee.jpeg');"></center>
    
<div class="carousel-caption d-none d-md-block"> 
    <center><h5 style=background-color:red;width:50%;>Customize Dice Simulator program(python+tkinter)</h5></center>
    <a href="https://gitfront.io/r/user-1757912/1862d2bbb201d05402599b567e2b20106110955a/Customize-Dice-Simulator-Program/
"><center><button>Click here</button></center></a>
    
<div class="carousel-caption d-none d-md-block" style="position:relative; left:80px; top:2px;"> 
    <center><h5 style=background-color:red;width:50%;>Password Generator(python+tkinter)</h5></center>
    <a href="https://gitfront.io/r/user-1757912/526ba567abb54fb7ee682eb1d9a9656a61d2cd1a/Password-generator-python-tkinter/">
<button>Click here</button></a>


</div>
{% endblock body %}
