{% extends 'base.html' %}

{% block title %}python+django{% endblock title %}

{% block body %}

<link rel="stylesheet" href="/static/style.css">


<div class="carousel-caption d-none d-md-block"> 
    <center><h7 style=background-color:pink;>Created Customize program can check below</h7></center>

    <div class="column">

        <center><img src="/static/dem.png" alt="Italian Trulli"  height="100"></center>
        <center><h7 style=background-color:red;width:50%;>Customize Dice Simulator program(python+tkinter)</h7></center>

        <a href="https://gitfront.io/r/user-1757912/1862d2bbb201d05402599b567e2b20106110955a/Customize-Dice-Simulator-Program/
        "><center><button class="button button1">Click here</button></center></a>
    
    </div>




<div class="carousel-caption d-none d-md-block" style="position:relative; left:80px; top:2px;"> 
    <div class="column">
        <center><img src="/static/pgi.jpg" alt="Italian Trulli"  height="100"></center>
        <center><h7 style=background-color:red;width:50%;>Password Generator(python+tkinter)</h7></center>
        <a href="https://gitfront.io/r/user-1757912/526ba567abb54fb7ee682eb1d9a9656a61d2cd1a/Password-generator-python-tkinter/">
        <button class="button button1" >Click here</button>
        {% if data %}

        {{data}}

        {% endif %}
        

    </div>


</div>
  














{% endblock body %}
