<!--{% extends 'base.html' %}

{% block title %}python+django{% endblock title %}

{% block body %}
<h1 style=background-color:yellow;width:50%;>python+django webpage</h1>
<h2 style=background-color:pink;width:40%;>created program check below</h2>
<div class="container-fluid px-0">
    <div class="carousel-inner">
        <div class="carousel-item active">
                <center><img src="/static/dem.png"></center>
        <div class="carousel-caption d-none d-md-block"> 
            <center><h5 style=background-color:red;width:50%;>Customize Dice Simulator program(python+tkinter)</h5></center>
            <a href="https://gitfront.io/r/user-1757912/1862d2bbb201d05402599b567e2b20106110955a/Customize-Dice-Simulator-Program/
"><center><button>Click here</button></center></a>

    </div>
    </div>
</div>

{% endblock body %}-->
